<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href='logo.png'>
        <link rel='stylesheet' href="style.css">
        <link rel='stylesheet' href="smallStyle.css" >
    </head>
    <body>
        <img src="about.png" class="aboutImg">
        <div style="margin-top: 10%;margin-bottom: 5%;">
        <a class="mainLinks" style="margin-left: 5%;" href="/">Weather</a> 
        <a class="mainLinks"  href="#">About</a>
        <a  class="mainLinks" href="help">Help</a>
        </div>
        
        
        <div class="container"></div>
        {{>header}}
        <img src="ameen.jpg" id="MyPic">
        </div>
        <p style="margin-top: 5%;  font-size: medium; word-spacing: 10px;"> I am currently studying Batchelors in Computer Science
               from Comsats university, Isb, PK. I am a young software engineer who likes and enjoys to do programming.
             I have built different projects for android smart phones, websites,
              java FX applications. I am result and goal oriented, enthusiastic, and work with conviction.
             I can be reached at <strong><span></span>sheikh.ameen252@gmail.com</span></strong>
             </p>
        {{>footer}}
    </body>
</html>