<!DOCTYPE html>
<html>
    <head>
        <title>404 error</title>
        <link rel="icon" href='logo.png'>
    <link rel='stylesheet' href="style.css">
    </head>
    <body>
        {{>header}}
        <a  class="mainLinks" href="/">Weather</a> 
        <a  class="mainLinks" href="about">About</a>
        <a  class="mainLinks" href="help">Help</a>
        {{>footer}}
    </body>
</html>