<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href='logo.png'>
        <link rel='stylesheet' href="style.css">
    </head>
    <body>
        <img src="weather.png" id="weatherImg">
        <div class="container">
        {{>header}}
        <a href="/">Weather</a> 
        <a href="about">About</a>
        <a href="#">Help</a>
        </div>
        {{>footer}}
    </body>
</html>