<!DOCTYPE html>
<html>
    <head>
        <title>weather</title>
        <link rel='stylesheet' href="style.css">
        <link rel="icon" href='logo.png'>
         
    </head>
    <body>
        <img src="weather.png" id="weatherImg">
        <div class="container">
        {{>header}}
        <a href="#">Weather</a> 
        <a href="about">About</a>
        <a href="help">Help</a>
        <p style="margin-bottom: 7%; margin-top:8%">Use this site to get your weather</p>
        <Form class="form">
            <input type="text" name="address" placeholder="location" class="inpText">
            <button class="inpBtn">Search</button>
        </Form>
        <p id="output-1"></p>
        <p id="output-2"></p>
        <img id="countryFlag" src="">
        </div>
        {{>footer}}
        <script type='text/javascript' src='app.js'></script>
    </body>
</html>