
h1,h2{
font-size: 40px;
margin-left: 5%;
color:  rgb(6, 6, 36);
}
#weatherImg{
    margin-top: 0%;
    width: 530px;
    height: 190px;
    
}
#MyPic{
margin-top: 3%;
margin-left: 6%;
height: 25%;
width: 25%;

}
.mainLinks{
    margin-left: 2%;
    font-size: larger;
    text-decoration: none;
    padding: 1%;
    background-color: #3792cb;
    color: white;
    border-radius: 10%;
}
a:hover,button:hover{
    background-color: #45b6fe;
    cursor: pointer;
}

body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 625px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}
footer{
    border-top: 1px solid silver ;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: silver;
    text-align: center;
}
header{
    margin-left: 5%;
    font-size: 50px;
    margin-bottom: 6%;
}
.container{
    margin-left: 24%;
}
.form{
    margin-top: 8%;
}
.inpText{
    padding: 1%;
    width: 40%;
}
.inpBtn{
padding: 1%;
margin-left: 5px;
background-color: #3792cb;
border-radius: 8%;
color: white;
text-decoration: none;
border: none;

}
.aboutImg{
    margin-top: 0%;
    width: 400px;
    height: 150px;
}
